#skills{
    display: block;
    height:100%;
    background-color: white;
    clear:none;
}

#skills h1{
    margin-top: 20px;
    text-align: center;
}

.skillTitle{
  font-size: 75px;
}

.separ {
  margin-top: 50px;
}
.title-skill {
  font-size: 25px;
  color: black;
  text-align: left;
}

.title-framework {
  font-size: 25px;
  text-align: left;
  margin-top: 10px;
}

.framework {
  margin-left: 100px;
  margin-bottom: -30px;
}

.bar-skill {
  background: #fff;
  padding: 5px;
  border-radius: 4px;
  margin-top: 10px;
}
.this-skill {
  height: 20px;
  border-radius: 3px;
}
.icon-skill {
  text-align: center;
  height: 75px;
  padding-top: 44px;
}
.skill-red {
  background-color: #F53440;
}
.skill-blue {
  background-color: rgb(9, 137, 231);
}
.skill-pink {
  background-color: rgb(236, 8, 86);
}
.skill-aqua {
  background-color: #00ADC8;
}
.skill-purple {
  background-color: rgb(88, 1, 131);
}
.skill-green {
  background-color: #00CD98;
}
.skill-orange {
  background-color: #FF5722;
}
.skill-yellow {
  background-color: #FFEB3B;
}
/* -----      PERCENT SKILLS     ------*/
.skill-ten {
  width: 10%;
}
.skill-twenty {
  width: 20%;
}
.skill-thirty {
  width: 30%;
}
.skill-fourty {
  width: 40%;
}
.skill-fifty {
  width: 50%;
}
.skill-sixty {
  width: 60%;
}
.skill-seventy {
  width: 70%;
}
.skill-eighty {
  width: 80%;
}
.skill-ninety {
  width: 90%;
}
.skill-houndred {
  width: 100%;
}
.bar-skill {
    background: rgba(77, 87, 99, 0.13);
}